body {

}
button {
    padding:25px 50px;
    font-size:3rem;

}
canvas {
    position: fixed;
    top: 10%;
    left: 10%;
    border: 1px solid #FFFFFF;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
}
p {
    text-align:center;
    box-shadow:0 0 1px silver;
}
h2 {
    text-align:center;
}
div {
    color:#FFFFFF !important;
}
table {
    width: 30%;
    clear: both;
    float: right;
    box-shadow: 0 0 1px #fff, 0 0 1px #fff;
    padding: 5px;
    margin-top: 15px;
    margin-right: 5px;
}
td {
    border:13px solid #000;
}
.startBTN {
    position:fixed;
    top:40%;
    left:20%;
}
.myHiChart {
    float:left;
    
}
.snekBox {
    width: 20px;
    height: 20px;
    text-align: center !important;
    box-shadow: 0 0 10px rgba(0,0,0,0) inset;
}

.cntrl_frame_btns {
    transition: all 500ms;
    border: 5px solid #fff;
    font-size: 3rem;
    font-weight: bold;
    background: transparent;
    width: 150px;
    line-height: 100px;
    border-radius: 50%;
    color: #fff;
}
    .cntrl_frame_btns:hover {
        transition: all 500ms;
        border: 5px solid #ffff68;
    }
    .cntrl_frame_btns:active {
        transition:all 500ms;
        background: #ffff68;
    }
.settBtn {

}
.settTDs {

}
/*id's*/
#cntrl_frame {
    position: absolute;
    bottom: 2%;
    right: 4%;
}
#upBtn {
    margin: 1px auto;
    display: block;
    width: 48%;
}
#leftBtn {
    margin: 1px 0;
    float:left;
    display: block;
    width: 48%;
}
#rightBtn {
    float: right;
    margin: 1px 0;
    display: block;
    width: 48%;
}
#downBtn {
    margin: 1px auto;
    display: block;
    width: 48%;
}